<p class="notice text-success m-0"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render'users/list',user:@user %>
      <%= render'users/chat',user:@user %>
      <%= render'books/new_book',book:@book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
          <tr>
            <th scope="row">
              <%= link_to user_path(book.user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" , size:'40x40'%>
              <% end %>
            </th>
            <td>
              <%= link_to book_path(book) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
            <td>
              <%= link_to search_path(:model => "category", :method =>"perfect", :content => book.category) do %>
                <%= book.category %>
              <% end %>
            </td>
            <td id="favorite_buttons_<%= book.id %>">
              <%= render "favorites/favorite", book:book %>
            </td>
            <td>
              コメント数: <%= book.book_comments.count %><br />
              閲覧数: <%= book.impressions_count %>
            </td>
            <td id="star-rate-<%= book.id %>">
              <%= render 'books/star',book:book %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h2>投稿の前日比・前週比</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <td><%= @today_books.count %></td>
          <td><%= @yesterday_books.count %></td>
          <td><%= (@day_ratio * 100).round.to_s + '%' %></td>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <td><%= @this_week_books.count %></td>
          <td><%= @last_week_books.count %></td>
          <!--<td> %= (@week_ratio * 100 ).round.to_s + '%' %></td>-->
        </tbody>
      </table>
    </div>
  </div>
</div>