<h2>投稿の前日比・前週比</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @today_books.count %></td>
      <td><%= @yesterday_books.count %></td>
      <td>
        <% begin %>
          <%= (@day_ratio * 100).round.to_s + '%' %>
        <% rescue %>
          <%= 0.to_s + '%' %>
        <% end %>
      </td>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>今週の投稿数</th>
        <th>前週の投稿数</th>
        <th>前週比</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @this_week_books.count %></td>
      <td><%= @last_week_books.count %></td>
      <td>
        <% begin %>
          <%= (@week_ratio * 100 ).round.to_s + '%' %>
        <% rescue %>
          <%= 0.to_s + '%' %>
        <% end %>
      </td>
    </tbody>
  </table>