<h1>Book detail</h1>
<div>
  <p>画像<%= image_tag('no_image.jpg') %></p>
  <p>Title<%= @book.title %></p>
  <p>Opinion<%= @book.body %></p>
</div>

<% if @book.user == current_user %>
  <%= link_to "Edit",edit_book_path(@book) %>
  <%= link_to "Destroy",book_path(@book),method: :delete %>
<% end %>