<div class="container">
  <% breadcrumb :book_show, @book %>
  <p class="notice text-success m-0"><%= notice %></p>
  <div class="row">
    <div class="col-md-3">
      <%= render'users/list',user:@user %>
      <%= render'books/new_book',book:@book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" , size:'40x40'%><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <%= link_to @book.category, search_path(:model => "category", :method =>"perfect", :content => @book.category) %>
            </td>
            <td id="favorite_buttons_<%= @book.id %>">
              <%= render "favorites/favorite", book:@book %>
            </td>
            <td id="comment_count_<% @book.id %>">
              コメント数: <%= @book.book_comments.count %><br />
              閲覧数: <%= @book.impressions_count %>
            </td>
            <td id="star-rate-<%= @book.id %>">
              <%= render'books/star', book:@book %>
            </td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success' %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-danger' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id='comment_index'><%= render "book_comments/comment", book:@book %></div>
      <div>
        <%= form_with model:[@book,@book_comment] do |f| %>
          <%= f.text_area :comment, class:"form-control" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>